div.container{
		width: 100%;
		border: 1px;
	}
header,footer{
		color: white;
		background: black;
		clear: left;
		padding: 1em;
		text-align: center;
	}
article{
	margin right: 50px;
	border-right: 3px;
	padding: 2em;
	overflow: hidden;
}


{
	clear: left;
	padding: 1em;
	text-align: center;
}
nav {
	float: right;
	max-width: 160px;
	height: 640px;
	margin: 0;
	padding-right: 50px;
	border-right: 150px gainsboro;
	background: #ffb6c1;
	text-align: left;
}
nav ul{
	list-style-type: circle;
	padding: 20px;
}

nav ul a{
	text-decoration: none;
}

body div p a:hover{
	background-color: black;
}

.row:after {
    content: '';
    clear: both;
    display: block;
    margin: 0px;
}

.text{width: 66.6%;}
.pict{width: 33.3%;}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}